* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.navMenu {
  text-align: right;
  background-color: #003366;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.navMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navMenu li {
  display: inline-block;
}

.navMenu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #cccccc;
}

.heroSection {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("../images/heroImage02.jpg");
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
}

.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.heroSection h1,
p {
  transform: scaleX(-1);
  color: #ffffff;
}
